


<mat-toolbar style="background-color: #0066CC;">
  <button style="color: white;" (click)="opened = !opened" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <i class="fa-solid fa-bars"></i>
 </button>
 <span class="example-spacer"></span>
 
 <a style="color: white;">{{kdo}}</a>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="over">
      
      <mat-list style="text-align: center;">

        <div>

          <mat-list-item (click)="home()">
              Home
              <br>
              <i class="fa-solid fa-house"></i>
          </mat-list-item>
          <hr>
          <mat-list-item (click)="naUrnik()">
              Urnik
              <br>
              <i class="fa-solid fa-clock"></i>
          </mat-list-item>
          <hr>
          <mat-list-item  (click)="naLogin()">
              Login
              <br>
              <i class="fa-solid fa-user"></i>
          </mat-list-item>
          <hr>
        </div>
          <mat-list-item  (click)="logout()">
            Logout
            <br>
            <i class="fa-solid fa-right-from-bracket"></i>
        </mat-list-item>
      </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
