

<div *ngIf="!loaded">
    <br>
    <mat-spinner style="margin: auto;"></mat-spinner>
</div>

<div *ngIf="loaded && day >= 6">
    <br>
    <h2 style="text-align: center;">Danes ni pouka</h2>
</div>

<div *ngIf="loaded && day < 6 && day > 0">
    <br>
    <h1>Danes</h1>

    <h3 style="text-align: center;">{{text}}</h3>

    <table style="table-layout: fixed; width: 100%; text-align: center; border-collapse: collapse;" *ngIf="loaded">
        <tr>
            <!--  
            <td class="icons"><i style="color: #0D6EFD" class="fa-solid fa-clock"></i></td>
            <td class="icons"><i style="color: #0D6EFD" class="fa-solid fa-circle-xmark"></i></td>
            <td class="icons"><i style="color: #0D6EFD" class="fa-solid fa-circle-arrow-right"></i></td>
             -->
             <td> <strong>V teku</strong> </td>
             <td> <strong>Konec ure</strong> </td>
             <td> <strong>Naslednja</strong> </td>
        </tr>
        <tr>
            <td class="icons">
                <a *ngIf="ura < 7 && ura >= 0"><strong>{{urnik[dan][ura]}}</strong></a>
                <a *ngIf="ura < 0 "><strong>Odmor</strong></a>
            </td>
            <td class="icons">
                <a *ngIf="ura >= 0"><strong>{{trajanjeUr[ura][1]}}</strong></a>
                <a *ngIf="ura == -1"><strong>9.50</strong></a>
                <a *ngIf="ura == -2"><strong>11.40</strong></a>
                <a *ngIf="ura == -3"><strong>13.35</strong></a>
            </td>
            <td class="icons">
                <a *ngIf="ura >= 0 && ura < 6"><strong>{{urnik[dan][ura+1]}}</strong></a>
                <a *ngIf="ura == -1"><strong>{{urnik[dan][2]}}</strong></a>
                <a *ngIf="ura == -2"><strong>{{urnik[dan][4]}}</strong></a>
                <a *ngIf="ura == -3"><strong>{{urnik[dan][6]}}</strong></a>
            </td>
        </tr>
    </table>
    
    <br>
</div>

    <div *ngIf="loaded && day < 6 && day > 0">
        <table style="width: 100%;  table-layout: fixed;">
            <tr>
                <th style="border: 1px solid #424242; color: white; background-color: #0D6EFD; padding: 5px;" class="a" 
                *ngFor="let i of [1,2,3,4,5,6,7]">
                
                    <div *ngIf="i-1 == ura" style="color: black;">
                        <strong>{{i}}</strong>
                    </div>
    
                    <div *ngIf="i-1 != ura">
                        {{i}}
                    </div>
                </th>
            </tr>
    
            <tr>
                <td class="ure" *ngFor="let i of [0,1,2,3,4,5,6]" style="border: 1px solid #424242; color: white;">
                    <a *ngIf="i != ura">{{ure[i]}}</a>
                    <a *ngIf="i == ura" style="color: black;"><strong>{{ure[i]}}</strong></a>
                </td>
            </tr>
    
    
            <tr>
                <td class="dan" *ngFor="let i of [0,1,2,3,4,5,6]" >
                    
                    <a *ngIf="i == ura && urnik[dan][i] != 'Prosto'">
                        <strong>{{urnik[dan][i]}}</strong>
                    </a>
                    
                    <a *ngIf="urnik[dan][i] != 'Prosto' && i != ura">
                        {{urnik[dan][i]}}
                    </a>
                    
                </td>
            </tr>
        </table>
        
        <br>

        <!-- TEDEN ------------------------------------------------- -->
        </div>
        <div>
        <h1>Teden</h1>
        
            <table *ngIf="loaded" style="width: 100%;">
                <tr>
                    <th class="prvi"></th>
                    <th *ngFor="let dan of dni"
                    style="border: 1px solid #424242; color: white; background-color: #0D6EFD;"
                    >{{dan}}</th>
                    </tr>
                <tr *ngFor="let i of [0,1,2,3,4,5,6]">
        
                        <td id="c" class="prvi">{{i+1}}</td>
                            
                        <td class="teden">
                            <a *ngIf="urnik['pon'][i] != 'Prosto' && dan != 'pon'">{{urnik['pon'][i]}}</a>
                            <a *ngIf="urnik['pon'][i] != 'Prosto' && dan == 'pon'">
                                <strong>{{urnik['pon'][i]}}</strong>
                            </a>
                        </td>
                        <td class="teden">
                            <a *ngIf="urnik['tor'][i] != 'Prosto' && dan != 'tor'">{{urnik['tor'][i]}}</a>
                            <a *ngIf="urnik['tor'][i] != 'Prosto' && dan == 'tor'">
                                <strong>{{urnik['tor'][i]}}</strong>
                            </a>
                        </td>
                        <td class="teden">
                            <a *ngIf="urnik['sre'][i] != 'Prosto' && dan != 'sre'">{{urnik['sre'][i]}}</a>
                            <a *ngIf="urnik['sre'][i] != 'Prosto' && dan == 'sre'">
                                <strong>{{urnik['sre'][i]}}</strong>
                            </a>
                        </td>
                        <td class="teden">
                            <a *ngIf="urnik['cet'][i] != 'Prosto' && dan != 'cet'">{{urnik['cet'][i]}}</a>
                            <a *ngIf="urnik['cet'][i] != 'Prosto' && dan == 'cet'">
                                <strong>{{urnik['cet'][i]}}</strong>
                            </a>
                        </td>
                        <td class="teden">
                            <a *ngIf="urnik['pet'][i] != 'Prosto' && dan != 'pet'">{{urnik['pet'][i]}}</a>
                            <a *ngIf="urnik['pet'][i] != 'Prosto' && dan == 'pet'">
                                <strong>{{urnik['pet'][i]}}</strong>
                            </a>
                        </td>
                    </tr>
            </table>
                    
    </div>
    

